/* import all font link  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
/* import all font link  */


:root{
  --main-font:'Poppins', sans-serif;
  --main-color-primary: #ff048e;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-size: 1rem;
  background: #0c0c0c;
  color: #fff;
}

.title-section{
  display: flex;
  padding: 20px;
  text-transform: uppercase;
  font-family: var(--main-font);
}

.title-section h1{
  color: #ffffff;
  font-weight: 500;
  font-size: 42px;
  position: relative;
}

.title-section h1::after{
  content: '';
  position: absolute;
  height: 30px;
  width: 4px;
  border-radius: 5px;
  background-color: #ffffff;
  margin: 17px 30px;
}

.title-section h3{
  color: var(--main-color-primary);
  font-weight: 400;
  font-size: 30px;
  margin: auto 60px;
  cursor: pointer;
}

.glide {
  overflow: hidden;
}

.glide__container {
  display: flex;
  flex-wrap: wrap;
}

.frame {
  width: 300px;
  color: #ffffff;
  font-family: var(--main-font);
  padding: 0 10px;
}

.movie-poster{
  width: 300px;
	height: 450px;
  border-radius: 5px;
	background: transparent;
	overflow: hidden;
  position: relative;
}

.img-hover{
  -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .4s ease-in-out;
}


.img-hover:hover{
  -webkit-transform: scale(1.2);
	transform: scale(1.2);
  opacity: 0.7;
}

.fa-crown{
  color:var(--main-color-primary) !important;
  font-size: 28px !important;

  padding: 10px;
  border-radius: 70px;
  background-color: #fff;
  position: absolute;
  z-index: 1;
  margin: 15px;
}

.fa-circle-play{
  position: absolute;
  font-size: 100px !important;
  font-weight: 400;
  color: #fff;
  top: 40%;
  left: 35%;
  z-index: 5;
  cursor: pointer;
  transition: .3s;
}
.play-btn{
  display: block;
}

.play-btn:hover ~ .img-hover{
  -webkit-transform: scale(1.2);
	transform: scale(1.2);
  opacity: 0.7;
}

.fa-circle-play:hover{
  color: var(--main-color-primary);
}

.add-btn{
  position: absolute;
  z-index: 10;
  width: 80%;
  bottom: 0;
  left: 10%;
  border: none;
  margin-bottom: 20px;
  color: #fff;
  font-family: var(--main-font);
  font-size: 16px;
  font-weight: 600;
  border-radius: 15px;
  background-color: #3b3b3b91;
  padding: 15px 30px;
  cursor: pointer;
  transition: 0.3s;
}

.add-btn:hover ~ .img-hover{
  -webkit-transform: scale(1.2);
	transform: scale(1.2);
  opacity: 0.7;
}


.movie-details h2{
  font-size: 18px;
  height: 50px;
}
.movie-details p {
  font-weight: 600;
  color: #d6d6d6;
}

.glide__btn {
  color: #ffffff;
  width: 80px;
  height: 80px;
  z-index: 10;
  font-size: 42px;
  border: 0;
  background: none;
  position: absolute;
  transform: translateY(-50%);
  top: calc(50% - 50px);
  cursor: pointer;
}

.glide__btn--prev {
  left: 0;
}

.glide__btn--next {
  right: 0;
}

@media (min-width: 1441px) and (max-width: 1914px) {
  .frame {
    width: 230px;
  }
  .movie-poster {
    width: 220px;
    height: 355px;
  }

  .movie-details h2 {
    font-size: 16px;
    /* height: 50px; */
}
  .add-btn{
    font-size: 12px;
  }
  .fa-circle-play {
    left: 30%;
  }
}


@media (min-width: 1120px) and (max-width: 1440px){
  .movie-poster{
    width: 175px;
    height: 310px;
  }
  .frame {
    width: 185px;
  }

  .movie-details h2 {
    font-size: 16px;
  }

  .fa-circle-play{
    font-size: 60px !important;
    top: 40%;
  }

  .add-btn {
    font-size: 9px;
    border-radius: 7px;
}
}
